<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>WorkingDashboard</title>
<script src="/jquery.min.js"></script>
<link rel="stylesheet" href="/bootstrap.min.css">
<link rel="stylesheet" href="/bootstrap-theme.min.css">
<script src="/bootstrap.min.js"></script>
<script src="/knockout-min.js"></script>
<body>
<div class="container-fluid">
<%= yield %>
</div>
</body>
</html>
