<!doctype html>
<html lang="ja">
<head>
<meta charset="utf-8">
<title>FrightBoard</title>
<link rel="stylesheet" href="/bootstrap.min.css">
<script src="/jquery.min.js"></script>
<script src="/popper.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/knockout-min.js"></script>
<script src="/moment-with-locales.min.js"></script>
<body>
<div class="container-fluid">
<%= yield %>
</div>
<style>
.bd-footer {background:#f6f6f6;padding:1rem;}
</style>
<footer class="bd-footer text-muted">
<div class="container-fluid">
<a href="https://github.com/ma2shita/frightboard">FrightBoard</a> for Working dashboard - <%= Me.version %>
</div>
</footer>
</body>
</html>
